<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Study</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/intro.css') }}" type="text/css">
    <!-- <script src="{{ url_for('static', filename='scripts/common.js') }}"></script> -->
    <script src="{{ url_for('static', filename='scripts/utilities.js') }}"></script>
  </head>
  <div class="title">
    <strong class="title-name">User Study on Latent Space Editing</strong>
  </div>
    <div style="text-align: center; margin-top: 50px; font-size: 30px;">
        <p>&nbsp; &nbsp; Congratulation! You have successfully completed all tasks in this user study.</p>
        <p>&nbsp; &nbsp; Thank you for participating in our user study! </p>
        <p>&nbsp; &nbsp; You can exit now. </p>
    </div>
</html>