.container {  display: grid;
  grid-template-columns: 0.4fr 2.2fr 0.4fr;
  grid-template-rows: 0.35fr 2fr 0.35fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". title ."
    "panel images user-actions"
    ". download .";
}

.images {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.45fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "original-image alg1 alg2";
  grid-area: images;
}

.original-image { grid-area: original-image; }

.alg1 { grid-area: alg1; }

.alg2 { grid-area: alg2; }

.image {  text-align: center;
  /* height: 400px; */
  padding-left: 20px;
  padding-right: 20px;
}

.panel {  display: grid;
  grid-template-columns: 0fr 1.5fr 0fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". user-study-intro ."
    ". task ."
    ". task-description .";
  grid-area: panel;
  /* height: 400px; */
}

.user-study-intro { grid-area: user-study-intro; }

.task { grid-area: task; 
  padding-top: 15px;
}

.task-description { grid-area: task-description; }

.user-actions {  display: grid;
  grid-template-columns: 0fr 1fr 0fr;
  grid-template-rows: 0.6fr 1.4fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". selections ."
    ". comments ."
    ". submission .";
  grid-area: user-actions;
  /* height: 400px; */
}

.middle-row { height: 450px;}

.reset-button { 
  margin-bottom: 15px;
  float: left;
  margin-left: 5px;
}

.comments { grid-area: comments; }

.selections { grid-area: selections; }

.submission { grid-area: submission;}

.title { grid-area: title;
  text-align: center;
  height: 120px;
}

.title-name {font-size: 30px;}

.task-descrip { padding-top: 25px;
  width: 750px;
  height: 200px;
  position: absolute;
  top: 350px;
  padding-left: 15px;
  font-size: 18px;
  /* z-index: 1; */
  /* left: 500px; */
}

.download { grid-area: download; }

.previous, .next { height: 50px; }