.title {
    text-align: center;
    height: 120px;
}
  
.title-name {font-size: 30px;}

.intro {
    font-size: 25;
    width: 900px;
}

.images {
    width: 900px;
    height: 300px;
    position: absolute;
}

.image {  text-align: center;
    /* height: 400px; */
    padding-left: 20px;
    padding-right: 20px;
    float: left;
}

.selections {
    float: left;
}

.previous, .next { height: 50px; }

.previous { float: left; }

.next {float: right; }

.download { 
    position: absolute;
    top: 650px;
    left: 45%;
 }